{% extends 'layouts/main.html' %}
{% block title %}Delete venue {{ venue.name }}{% endblock %}
{% block content %}
    <div class="form-wrapper">

        <h3 class="form-heading">
            Are you sure to delete venue
            <br>
            <em>{{ venue.name }}</em> ?
        </h3>

        <div class="form-group">
            <button id="approveDeleteBtn" class="btn btn-danger btn-lg btn-block" data-id="{{ venue.id }}"
                    data-type="venue">Yes
            </button>
            <button id="cancelDeleteBtn" class="btn btn-secondary btn-lg btn-block">No</button>
        </div>

        </form>
    </div>
{% endblock %}